
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div>
    <img src="/images/error.jpg" alt="Error" width="500" height="600" >
</div>



<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
