@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SmartBill</h1>
    <img src="/images/yourBill.jpg" alt="Smart Bill" width="700" height="600">
</div>
