
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<span class="text-nowrap text-lg-center font-italic font-weight-bold"> Welcome Again... It Is Nice To Have You In My Website!</span>
<div>
    <img src="/images/4207.jpg" alt="welcome" width="1000" height="600" />
</div>
