@{
    ViewData["Title"] = "Index";
}

<h1>Apartment Options</h1>

<div class="text-right">
    <a asp-action="GetAllActivate" class="btn btn-info btn-lg btn-block">Get All Activate Apartments</a>
    <br />
    <a asp-action="GetAllUnActivate" class="btn btn-info btn-lg btn-block">Get All UnActivate Apartments</a>
    <br />

    <a asp-action="Create" class="btn btn-primary btn-lg btn-block">Create a new Apartment</a>
    <br />
    <a asp-action="Update" class="btn btn-warning btn-lg btn-block">Update an exist Apartment</a>
    <br />

    <a asp-action="Activate" class="btn btn-success btn-lg btn-block">Activate an Apartment</a>
    <br />
    <a asp-action="UnActivate" class="btn btn-danger btn-lg btn-block">UnActivate an Apartment</a>
    <br />
    
    <a asp-action="GetById" class="btn btn-secondary btn-lg btn-block">Get an Apartment</a>
</div>


