@{
    ViewData["Title"] = "Index";
}

<h1>Apartment Options</h1>

<div class="btn-lg  text-center active p-5">
    <a asp-action="GetAllActivated" class="btn btn-info">Get All Activated Apartments</a>
    <a asp-action="GetAllUnActivated" class="btn btn-info">Get All UnActivated Apartments</a>
    <hr />
    <a asp-action="Create" asp-controller="Apartments" class="btn btn-primary">Create a new Apartment</a>
    <hr />
    
</div>


