@model SmartBill.BusinessLogicLayer.Dtos.ApartmentDto.UpdateApartmentRequestDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Update an Exist Apartment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNo" class="control-label"></label>
                <input asp-for="ApartmentNo" class="form-control" />
                <span asp-validation-for="ApartmentNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonsNumber" class="control-label"></label>
                <input asp-for="PersonsNumber" class="form-control" />
                <span asp-validation-for="PersonsNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            <button type="submit" class=" btn btn-primary d-block mt-4">Save</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
