@{
    ViewData["Title"] = "Index";
}

<h1>BankAccount Options</h1>

<div class="btn-lg active">
    <a asp-action="GetAllActivated" class="btn btn-info">Get All Activated BankAccounts</a>
    <a asp-action="GetAllUnActivated" class="btn btn-info">Get All UnActivated BankAccounts</a>
    <a asp-action="GetAll" class="btn btn-secondary">Get All BankAccounts</a>
    <hr />
    <a asp-action="Create" asp-controller="BankAccounts" class="btn btn-primary">Create a new BankAccount</a>
    <hr />
    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
